.form__com__buttons{
    margin-top: 20px;
    background-color: black;
    color: white;
    text-transform: uppercase;
}

textarea{
    height: 300px;
    width: 100%;
}

.form__text{
    margin: 10px 0px;
}