a h1 i{
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: center;
    padding: 3px;

    text-decoration: none;
    color: forestgreen;
    justify-self: end;
}

p{
    color: white;
    opacity: 80%;
    font-weight: bold;
    text-align: end;
    padding: 10px;
}